#navbar{
  position: fixed;
  top: 0;
  z-index: 100;
}

.App{
  overflow-x: hidden;
}

.btn{
  font-size: 150px;
  color: red;
  position: absolute;
  top: 3%;
}

#btn2{
  right: 10px;
}

#btn1{
  left: 10px;
}

#hide{
  display: none;
  position: absolute;
  top: 80px;
}

#h:hover + #hide{
  display: block;
}

.parent{
  position: fixed;
  background-color: white;
  height: 100vh;
  right: -25%;
  top: 0;
  z-index: 50;
  transition: all 1s ease;
}
