#navbar{
  position: sticky;
  top: 0;
  z-index: 100;
}

.btn{
  font-size: 150px;
  color: red;
  position: absolute;
  top: 3%;
}

#btn2{
  right: 10px;
}

#btn1{
  left: 10px;
}

#hide{
  display: none;
  position: absolute;
  top: 80px;
}

#h:hover + #hide{
  display: block;
}